.found-item {
    padding: 0px 20px;
    margin-top: 40px;
    height: 96px;
    background-color: #bbbbbb;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-btn {
    display: flex;
    align-items: center;
}

.text-sortby {
    margin-right: 12px;
}

// item
.img-block {
    width: 180px;
    height: 100%;
    background-color: #dedede;
}

.image {
    width: 100%;
    height: 100%;
}

.product_item {
    height: 140px;
    margin-top: 12px;
    display: flex;
    border: 1px solid #000;
    border-radius: 3px;
}

.item-content {
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
.item-title {
    margin-top: 6px;
    margin-bottom: 12px;
}

.btn-apply {
    margin-left: 160px;
}

.item-voucher {
    font-weight: 300;
}
.item-expiry {
    font-weight: 300;
    font-style: italic;
    margin-top: 28px;
}
