.title {
    font-weight: 700;
}
.product_content {
    background-color: var(--light-purple);
    height: 145px;
    margin: 8px;
    padding: 8px 32px;
    border: 2px solid var(--light-purple);
    border-radius:4px ;
}

.title_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.information {
    margin-top: 4px;
}
.total_amount {
    display: flex;
}
.price {
    font-size: 1.6rem;
}

.price_small {
    font-size: 1.6rem;
    font-weight: 300;
}

.price_large {
    font-weight: bold;
    color: #2830F3;
    font-size:1.8rem;
}
.quantity {
    font-size: 1.6rem;
    font-weight: 300;
}

.total_amount {
    display: flex;
    justify-content: space-between;
}

.size_button {
    display: flex;
    justify-content: space-between;
}

.color-size {
    display: flex;  
}

.color {
    font-size: 1.6rem;
    margin-left: 12px;
}
.size {
    font-size: 1.6rem;
}

.btn-cancle {
    background-color: orange
}

.pending-status {
    background-color: greenyellow;
    padding: 2px 16px;   
    height: 30px;
    border-radius: 8px;
    margin-left: 8px;
}


.canceled-status {
    background-color: orange;
    padding: 2px 16px;   
    height: 30px;
    border-radius: 8px;
    margin-left: 8px;
}

.rejected-status {
    background-color: black;
    padding: 2px 16px;   
    height: 30px;
    border-radius: 8px;
    color: white;
    margin-left: 8px;
}

.approved-status {
    background-color: green;
    padding: 2px 16px;   
    height: 30px;
    border-radius: 8px;
    color: white;
    margin-left: 8px;
}