.container {
    padding: 40px 0 64px;
    background-color: var(--light-red);
}
.title{
    margin-bottom: 20px;
}
.products-body {
    padding-top: 16px;
    padding-bottom: 64px;
}
.content-body{
    display: flex;
}
.title{
    text-align: center;
}