:root {
    --background: #FFF2F2;
    --white: #ffffff;
  }
  
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--background);
}

.block-img {
    height: 600px;
}
.img-background {
    width: 100%;
}

.container {
    height: 1650px;
}

.top-content {
    width: 300px;
}
.img-item {
    width: 100%;
    object-fit:contain;
}

.heading-item {
    text-align: center;
    color: #A300BD;
}
// Product
.product-item {
    margin-top: 100px;
    height: 342px;
}

.first-item {
    margin-top: 4px;
    border: 1px solid #ccc;
    background-color: var(--white);
}
.bottom-content{
    padding: 0 8px;

}
.price-status {
    display: flex;
    justify-content:space-between
}

.status {
    font-size: 14px;
}
.price {
    font-weight: 700;
}

// Product Small
.product_item-small {
    margin-top: 128px;
}

.product_item-heading{
    text-align: center;
    margin-bottom: 18px;
}

.product_item {
    width: 200px;
    height: 176px;
    padding: 0 10px;
}

.product_item-img {
    width: 100%;
}


// Item Input

.email_register{
    margin-top: 66px;
}

.note_heading {
    text-align: center;
}

.email_input {
    width: 480px;
    height: 50px;
    padding-left: 24px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    
}

.btn_submit {
    width: 150px;
    height: 50px;
    font-weight: 700;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border:1px solid #8EA7E9;
    background:#8EA7E9;
    color:white;
}

.btn_submit:hover{
    cursor: pointer;
    background-color: #7287c0;
    transition: 0.6s;
}
form {
    margin-top: 36px;
    display:flex;
    flex-direction:row;
  }
