.container{
    margin: 0 15px 30px 80px;
    border-width: 3px;
    border-radius: 10px;
    border: 1px solid #000;
    height: auto;
    box-sizing: border-box;
    background-color: #FFF2F2;
    box-shadow: #FFF2F2;
    padding: 10px 10px 10px 10px;

}
.main-content{
    width: 95%;
    margin: 10px 15px 10px 15px;
}
.title{
    margin: 0 10px 10px 10px;
    border-bottom: 1px solid #000;
}