.container {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #000;
    margin-top: 10px;
    background-color: #ffffff;
}
.options {
    display: flex;
}
img {
    border-radius: 5px;
}
.content-center {
    margin: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding-bottom: 20px;
}
.options {
    display: flex;
    justify-content: space-between;
}

.del {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    text-align: right;
    padding-bottom: 20px;
    padding-right: 10px;
}
