.container {
    border: 2px solid var(--blue);
    padding: 0 8px;

}
.product_item {
    margin-bottom: 16px;
    margin-top: 8px;
    border-radius:4px ;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    
}
