.container {
    // background-color: lightcoral;
    padding: 16px 24px;
}

.title {
    font-size: 2.8rem;
}

.subtitle {
    color: #8a8a8a;
    font-weight: 700;
}

.col {
    margin-top: 32px;
}

.controls {
    display: flex;
    justify-content: flex-end;
}