.container {
    height: 299px;
    background-color: #dedede;
    display: flex;
    justify-content: space-around;
}

.content-left {
    margin-top: 34px;
}
.content-link {
    display: flex;
    justify-content: flex-start;
}

.content-link > li {
    list-style: none;
}

.link {
    + .link {
        margin-left: 16px;
    }
}

.heading {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* // Between  */
.content-between {
    margin-top: 34px;
}
.logo {
    width: 200px;
    height: 200px;
    margin-left: 100px;
}

.img-logo {
    width: 100%;
}

.reserved {
    text-align: center;
    margin-top: 14px;
}

/* // Right */
.content-right {
    margin-top: 34px;
}

.icon-face {
    color: #4267b2;
    font-size: 24px;
}
.icon-instagram {
    color: #fb3958;
    font-size: 24px;
}
.icon-block {
    margin-left: 12px;
}
.facebook-link {
    display: flex;
    align-items: center;
}
.instagram-link {
    margin-top: 24px;
    display: flex;
    align-items: center;
}
