.container {
    padding: 0 128px;
}

.heading {
    color: green;
    padding: 12px;
}

.name-product {
    padding: 4px 0px;
}










































.btn-add {
    margin-top: 16px;
    float:  right;
}