.container {
    background-color: var(--white);
    border: 1px solid #ddd;
    border-radius: 4px;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
}

.product-block {
    width: 305px;
    height: 388px;
}
.block-image {
    padding-left: 8px;
    width: 270px;
    height: 290px;
}
.item-image {
    height: 100%;
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.item-header {
    display: flex;
}

.item-content {
    padding: 8px 16px;
}

.content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .block-name {
        width: 200px;
    }

    .product-status {
        margin-right: 24px;
        font-size: 1.4rem;
        font-style: italic;
    }

}

.content-bottom {
    display: flex;
    align-items: center;
    margin-top: 4px;

    .initial-price {
        font-weight: 600;
    }

    .current-price {
        color: #6f6f6f;
        margin-left: 12px;
        font-size: 1.4rem;
        text-decoration: line-through;
    }
}
